
.AddNewProjectpage_AddNewProjectpage {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.AddNewProjectpage_AddNewProjectpage .Clippathgroup {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.AddNewProjectpage_AddNewProjectpage .Clippathgroup .clipiPhone_14_Pro_Max_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.AddNewProjectpage_AddNewProjectpage .Clippathgroup .clipiPhone_14_Pro_Max_4 .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.AddNewProjectpage_AddNewProjectpage .Clippathgroup .iPhone14ProMax4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.AddNewProjectpage_AddNewProjectpage .Clippathgroup .iPhone14ProMax4 .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.AddNewProjectpage_AddNewProjectpage .Rectangle3 {
	position: absolute;
	left: 0px;
	top: -80.4px;
	width: 100%;
	height: 15.343347639484978%;
	background: rgba(108,78,252,1.00);
}
.AddNewProjectpage_AddNewProjectpage .Group12 {
	position: absolute;
	left: 20.1px;
	top: 150.75px;
	width: 703.5798957824708px;
	height: 90.4892578125px;
}
.AddNewProjectpage_AddNewProjectpage .Group12 .Dashboard {
	position: absolute;
	right: -0.0000011980533599853516px;
	top: 0px;
	width: 609.7806297937292px;
	height: 87.66615292179631px;
	color: rgba(255,255,255,1.00);
	font-family: Inria Sans;
	font-size: 107.2px;
	font-weight: 700;
	line-height: 128.5328001022339px;
}
.AddNewProjectpage_AddNewProjectpage .Group12 .Group11 {
	position: absolute;
	left: 0px;
	top: 43.550000000000004px;
	width: 77.05px;
	height: 46.9392578125px;
}
.AddNewProjectpage_AddNewProjectpage .Group12 .Group11 .Line5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 77.05px;
	height: 0px;
}
.AddNewProjectpage_AddNewProjectpage .Group12 .Group11 .Line6 {
	position: absolute;
	left: 0px;
	top: 46.9392578125px;
	width: 77.05px;
	height: 0px;
}
.AddNewProjectpage_AddNewProjectpage .Group12 .Group11 .Line7 {
	position: absolute;
	left: 0px;
	top: 23.49580078125px;
	width: 57.915777969360356px;
	height: 0px;
}
.AddNewProjectpage_AddNewProjectpage .AddTask {
	position: absolute;
	left: -666.65px;
	top: 814.0500000000001px;
	width: 2773.8px;
	height: 2817.35px;
}
.AddNewProjectpage_AddNewProjectpage .AddTask .Ellipse2 {
	position: absolute;
	left: 167.5%;
	top: 0px;
	transform: translate(-50%, 0);
	width: 2773.8px;
	height: 100%;
	background: rgba(184,169,255,1.00);
	border-radius: 50%;
}
.AddNewProjectpage_AddNewProjectpage .Description {
	position: absolute;
	left: 13.4px;
	top: 2187.55px;
	width: 452.25px;
	height: 97.15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .ClientName {
	position: absolute;
	left: 16.75px;
	top: 1909.5px;
	width: 452.25px;
	height: 97.15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .Rectangle9 {
	position: absolute;
	left: 804px;
	top: 1410.3500000000001px;
	width: 592.95px;
	height: 90.45px;
	background: rgba(255,255,255,1.00);
	border-radius: 33.5px;
}
.AddNewProjectpage_AddNewProjectpage .Jan14Jan30 {
	position: absolute;
	left: 750.4px;
	top: 1420.4px;
	width: 465.65000000000003px;
	height: 77.05px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(57,51,53,1.00);
	font-family: Inria Sans;
	font-size: 50.25px;
	font-weight: 400;
	line-height: 60.249752044677734px;
}
.AddNewProjectpage_AddNewProjectpage .calendariconfreevector1 {
	position: absolute;
	left: 1306.5px;
	top: 1417.05px;
	width: 70.35000000000001px;
	height: 67px;
	object-fit: cover;
	overflow: hidden;
}
.AddNewProjectpage_AddNewProjectpage ._634571 {
	position: absolute;
	left: 167.88953488372096%;
	bottom: 2023.4px;
	transform: translate(-50%, 0);
	width: 257.95px;
	height: 257.95px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 368.5px;
}
.AddNewProjectpage_AddNewProjectpage .Group7 {
	position: absolute;
	left: 773.85px;
	top: 968.15px;
	width: 97.15px;
	height: 140.70000000000002px;
}
.AddNewProjectpage_AddNewProjectpage .Group7 .Ellipse2_1 {
	position: absolute;
	left: 0px;
	top: 51.061328125px;
	width: 95.7708424535291%;
	height: 61.04527428036645%;
	background: rgba(108,78,252,1.00);
	border-radius: 50%;
}
.AddNewProjectpage_AddNewProjectpage .Group7 ._ {
	position: absolute;
	left: 30.150000000000002px;
	top: 0px;
	width: 68.96551724137932%;
	height: 100%;
	color: rgba(255,255,255,1.00);
	font-family: Inknut Antiqua;
	font-size: 67px;
	font-weight: 700;
	line-height: 172.79300613403322px;
}
.AddNewProjectpage_AddNewProjectpage .Invite {
	position: absolute;
	left: 171.39534883720933%;
	top: 122.39002145922748%;
	transform: translate(-50%, -50%);
	width: 207.70000000000002px;
	height: 90.45px;
	color: rgba(255,255,255,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 {
	position: absolute;
	left: 43.550000000000004px;
	top: 1708.5px;
	width: 1353.4px;
	height: 87.10000000000001px;
	display: flex;
	box-sizing: border-box;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .design {
	position: relative;
	flex: none;
	margin-right: 16.75px;
	width: 234.5px;
	height: 87.10000000000001px;
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .design .Rectangle10 {
	position: absolute;
	left: 0px;
	top: 3.35px;
	width: 234.5px;
	height: 83.75px;
	background: rgba(255,255,255,1.00);
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .design .Design {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 234.5px;
	height: 87.10000000000001px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(71,67,67,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .development {
	position: relative;
	flex: none;
	margin-right: 16.75px;
	width: 415.40000000000003px;
	height: 87.10000000000001px;
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .development .Rectangle11 {
	position: absolute;
	left: 0px;
	top: 3.35px;
	width: 415.40000000000003px;
	height: 83.75px;
	background: rgba(255,255,255,1.00);
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .development .Development {
	position: absolute;
	left: 10.05px;
	top: 0px;
	width: 398.65000000000003px;
	height: 87.10000000000001px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(71,67,67,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .business {
	position: relative;
	flex: none;
	margin-right: 16.75px;
	width: 288.1px;
	height: 87.10000000000001px;
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .business .Rectangle12 {
	position: absolute;
	left: 0px;
	top: 3.35px;
	width: 288.1px;
	height: 83.75px;
	background: rgba(255,255,255,1.00);
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .business .Business {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 281.40000000000003px;
	height: 87.10000000000001px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(71,67,67,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .testing {
	position: relative;
	flex: none;
	margin-right: 16.75px;
	width: 318.25px;
	height: 83.75px;
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .testing .Rectangle13 {
	position: absolute;
	left: 28.288525390625px;
	top: 3.219140625px;
	width: 268.7444416046143px;
	height: 80.52884664535523px;
	background: rgba(255,255,255,1.00);
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .testing .Testing {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 318.25px;
	height: 83.75px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(71,67,67,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .backend {
	position: relative;
	flex: none;
	margin-right: 16.75px;
	width: 281.40000000000003px;
	height: 87.10000000000001px;
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .backend .Rectangle14 {
	position: absolute;
	left: 0px;
	top: 3.35px;
	width: 281.40000000000003px;
	height: 83.75px;
	background: rgba(255,255,255,1.00);
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .backend .Backend {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 278.05px;
	height: 77.05px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(71,67,67,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .frontend {
	position: relative;
	flex: none;
	margin-right: 16.75px;
	width: 304.85px;
	height: 87.10000000000001px;
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .frontend .Rectangle14_1 {
	position: absolute;
	left: 0px;
	top: 3.35px;
	width: 304.85px;
	height: 83.75px;
	background: rgba(255,255,255,1.00);
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .Frame1 .frontend .Frontend {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 304.85px;
	height: 87.10000000000001px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(71,67,67,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .ProjectName {
	position: absolute;
	left: 30.150000000000002px;
	top: 1313.2px;
	width: 452.25px;
	height: 97.15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .TypeofProject {
	position: absolute;
	left: 43.550000000000004px;
	top: 1604.65px;
	width: 452.25px;
	height: 97.15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .projectname {
	position: absolute;
	left: -70.35000000000001px;
	top: 1410.3500000000001px;
	width: 790.6px;
	height: 107.2px;
	border-radius: 33.5px;
}
.AddNewProjectpage_AddNewProjectpage .projectname .Rectangle9_1 {
	position: absolute;
	left: 113.9px;
	top: 0px;
	width: 676.7px;
	height: 90.45px;
	background: rgba(255,255,255,1.00);
	border-radius: 33.5px;
}
.AddNewProjectpage_AddNewProjectpage .projectname .Enterprojectname {
	position: absolute;
	left: 0px;
	top: 10.05px;
	width: 693.45px;
	height: 97.15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(57,51,53,1.00);
	font-family: Inria Sans;
	font-size: 50.25px;
	font-weight: 400;
	line-height: 60.249752044677734px;
}
.AddNewProjectpage_AddNewProjectpage .projectname_1 {
	position: absolute;
	left: -70.35000000000001px;
	top: 2013.3500000000001px;
	width: 790.6px;
	height: 107.2px;
	border-radius: 33.5px;
}
.AddNewProjectpage_AddNewProjectpage .projectname_1 .Rectangle9_2 {
	position: absolute;
	left: 113.9px;
	top: 0px;
	width: 676.7px;
	height: 90.45px;
	background: rgba(255,255,255,1.00);
	border-radius: 33.5px;
}
.AddNewProjectpage_AddNewProjectpage .projectname_1 .Enterclientsname {
	position: absolute;
	left: 0px;
	top: 10.05px;
	width: 693.45px;
	height: 97.15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(57,51,53,1.00);
	font-family: Inria Sans;
	font-size: 50.25px;
	font-weight: 400;
	line-height: 60.249752044677734px;
}
.AddNewProjectpage_AddNewProjectpage .Deadline {
	position: absolute;
	left: 720.25px;
	top: 1313.2px;
	width: 452.25px;
	height: 97.15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .save {
	position: absolute;
	left: 425.45px;
	top: 2827.4px;
	width: 592.95px;
	height: 184.25px;
	border-radius: 83.75px;
}
.AddNewProjectpage_AddNewProjectpage .save .Rectangle15 {
	position: absolute;
	left: 167.5%;
	top: 0px;
	transform: translate(-50%, 0);
	width: 592.95px;
	height: 184.25px;
	background: rgba(108,78,252,1.00);
	border-radius: 83.75px;
}
.AddNewProjectpage_AddNewProjectpage .save .Save {
	position: absolute;
	left: 176.0169491525424%;
	top: 13.4px;
	transform: translate(-50%, 0);
	width: 268px;
	height: 120.60000000000001px;
	color: rgba(255,255,255,1.00);
	font-family: Inria Sans;
	font-size: 113.9px;
	font-weight: 700;
	line-height: 136.56609611511232px;
}
.AddNewProjectpage_AddNewProjectpage .Rectangle16 {
	position: absolute;
	left: 43.550000000000004px;
	top: 2288.05px;
	width: 1340px;
	height: 432.15000000000003px;
	background: rgba(255,255,255,1.00);
	border-radius: 33.5px;
}
.AddNewProjectpage_AddNewProjectpage .DescriptionofProject {
	position: absolute;
	left: 50.25px;
	top: 2294.75px;
	width: 525.95px;
	height: 73.7px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(57,51,53,1.00);
	font-family: Inria Sans;
	font-size: 50.25px;
	font-weight: 400;
	line-height: 60.249752044677734px;
}
.AddNewProjectpage_AddNewProjectpage .Group13 {
	position: absolute;
	left: 787.25px;
	top: 1909.5px;
	width: 539.35px;
	height: 207.70000000000002px;
}
.AddNewProjectpage_AddNewProjectpage .Group13 .AssignTasks {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 452.25px;
	height: 97.15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .Group13 .Group10 {
	position: absolute;
	left: 298.15000000000003px;
	top: 90.45px;
	width: 241.20000000000002px;
	height: 117.25px;
}
.AddNewProjectpage_AddNewProjectpage .Group13 .Group10 ._634573 {
	position: absolute;
	left: 123.95px;
	top: 0px;
	width: 117.25px;
	height: 117.25px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 58.625px;
}
.AddNewProjectpage_AddNewProjectpage .Group13 .Group10 ._634572 {
	position: absolute;
	left: 60.300000000000004px;
	top: 0px;
	width: 117.25px;
	height: 117.25px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 58.625px;
}
.AddNewProjectpage_AddNewProjectpage .Group13 .Group10 ._634571_1 {
	position: absolute;
	left: 81.4236111111111%;
	bottom: 0px;
	transform: translate(-50%, 0);
	width: 117.25px;
	height: 117.25px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 368.5px;
}
.AddNewProjectpage_AddNewProjectpage .Group13 .Group10_1 {
	position: absolute;
	left: 60.300000000000004px;
	top: 90.45px;
	width: 298.15000000000003px;
	height: 117.25px;
}
.AddNewProjectpage_AddNewProjectpage .Group13 .Group10_1 ._634574 {
	position: absolute;
	left: 180.9px;
	top: 0px;
	width: 117.25px;
	height: 117.25px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 58.625px;
}
.AddNewProjectpage_AddNewProjectpage .Group13 .Group10_1 ._634573_1 {
	position: absolute;
	left: 117.25px;
	top: 0px;
	width: 117.25px;
	height: 117.25px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 58.625px;
}
.AddNewProjectpage_AddNewProjectpage .Group13 .Group10_1 ._634572_1 {
	position: absolute;
	left: 60.300000000000004px;
	top: 0px;
	width: 117.25px;
	height: 117.25px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 58.625px;
}
.AddNewProjectpage_AddNewProjectpage .Group13 .Group10_1 ._634571_2 {
	position: absolute;
	left: 65.87078651685394%;
	bottom: 0px;
	transform: translate(-50%, 0);
	width: 117.25px;
	height: 117.25px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 368.5px;
}
.AddNewProjectpage_AddNewProjectpage .navigation {
	position: absolute;
	left: 43.550000000000004px;
	top: 438.85px;
	width: 1353.4px;
	height: 107.2px;
}
.AddNewProjectpage_AddNewProjectpage .navigation .project {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 338.35px;
	height: 130.65px;
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .navigation .project .Projects {
	position: absolute;
	left: 46.9px;
	top: 3.35px;
	width: 291.45px;
	height: 127.3px;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .navigation .project .Rectangle4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 328.3px;
	height: 107.2px;
	background: rgba(217,217,217,1.00);
	mix-blend-mode: multiply;
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .navigation .assigned {
	position: absolute;
	left: 371.85px;
	top: 0px;
	width: 348.40000000000003px;
	height: 110.55px;
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .navigation .assigned .Assigned {
	position: absolute;
	left: 26.8px;
	top: 3.35px;
	width: 321.6px;
	height: 107.2px;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .navigation .assigned .Rectangle5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 328.3px;
	height: 107.2px;
	background: rgba(217,217,217,1.00);
	mix-blend-mode: multiply;
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .navigation .completed {
	position: absolute;
	left: 753.75px;
	top: 0px;
	width: 418.75px;
	height: 110.55px;
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .navigation .completed .Completed {
	position: absolute;
	left: 23.45px;
	top: 3.35px;
	width: 395.3px;
	height: 107.2px;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .navigation .completed .Rectangle6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 361.8px;
	height: 107.2px;
	background: rgba(217,217,217,1.00);
	mix-blend-mode: multiply;
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .navigation .pending0 {
	position: absolute;
	left: 1172.5px;
	top: 0px;
	width: 341.7px;
	height: 107.2px;
	border-radius: 167.5px;
}
.AddNewProjectpage_AddNewProjectpage .navigation .pending0 .Pending {
	position: absolute;
	left: 33.5px;
	top: 3.35px;
	width: 308.2px;
	height: 80.4px;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.AddNewProjectpage_AddNewProjectpage .navigation .pending0 .Rectangle7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 304.85px;
	height: 107.2px;
	background: rgba(217,217,217,1.00);
	mix-blend-mode: multiply;
	border-radius: 167.5px;
}