
.animate1_animate1 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
}
.animate1_animate1 .Clippathgroup {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.animate1_animate1 .Clippathgroup .clipiPhone_14_Pro_Max_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.animate1_animate1 .Clippathgroup .clipiPhone_14_Pro_Max_2 .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.animate1_animate1 .Clippathgroup .iPhone14ProMax2 {
	position: absolute;
	left: -83.75px;
	top: 0px;
	width: 111.62790697674419%;
	height: 100%;
}
.animate1_animate1 .Clippathgroup .iPhone14ProMax2 .Vector_1 {
	position: absolute;
	left: 83.75px;
	top: 0px;
	width: 89.58333333333334%;
	height: 100%;
}
.animate1_animate1 .Clippathgroup .iPhone14ProMax2 .Component12 {
	position: absolute;
	left: 167.5%;
	top: 167.5%;
	transform: translate(-50%, -50%);
	width: 1608px;
	height: 1427.1000000000001px;
}
.animate1_animate1 .Clippathgroup .iPhone14ProMax2 .Component12 .Ellipse1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	mix-blend-mode: multiply;
}
.animate1_animate1 .Clippathgroup .iPhone14ProMax2 .Component12 .Ellipse1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.animate1_animate1 .Clippathgroup .iPhone14ProMax2 .Component12 .Ellipse1 .Vector_3 {
	position: absolute;
	left: 1.675px;
	top: 1.675px;
	width: 99.79166666666667%;
	height: 99.76525821596243%;
}
.animate1_animate1 .Clippathgroup .iPhone14ProMax2 .Group5 {
	position: absolute;
	left: 134px;
	top: 1273px;
	width: 1336.65px;
	height: 572.85px;
}
.animate1_animate1 .Clippathgroup .iPhone14ProMax2 .Group5 .LetsPlanToday {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.animate1_animate1 .Clippathgroup .iPhone14ProMax2 .Group5 .LetsPlanToday .Lets {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 41.35338345864661%;
	height: 51.461988304093566%;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 244.55px;
	font-weight: 400;
	line-height: 295.96107025146483px;
}
.animate1_animate1 .Clippathgroup .iPhone14ProMax2 .Group5 .LetsPlanToday .PlanToday {
	position: absolute;
	left: 0px;
	top: 278.05px;
	width: 100%;
	height: 51.461988304093566%;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 244.55px;
	font-weight: 400;
	line-height: 295.96107025146483px;
}