
.animate2_animate2 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
}
.animate2_animate2 .Clippathgroup {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.animate2_animate2 .Clippathgroup .clipiPhone_14_Pro_Max_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.animate2_animate2 .Clippathgroup .clipiPhone_14_Pro_Max_2 .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.animate2_animate2 .Clippathgroup .iPhone14ProMax2 {
	position: absolute;
	left: -502.5px;
	top: 0px;
	width: 169.53488372093025%;
	height: 100%;
}
.animate2_animate2 .Clippathgroup .iPhone14ProMax2 .Vector_1 {
	position: absolute;
	left: 502.5px;
	top: 0px;
	width: 58.984910836762694%;
	height: 100%;
}
.animate2_animate2 .Clippathgroup .iPhone14ProMax2 .Component12 {
	position: absolute;
	left: 0px;
	top: 167.3202789699571%;
	transform: translate(0, -50%);
	width: 2442.15px;
	height: 2100.4500000000003px;
}
.animate2_animate2 .Clippathgroup .iPhone14ProMax2 .Component12 .Ellipse1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	mix-blend-mode: multiply;
}
.animate2_animate2 .Clippathgroup .iPhone14ProMax2 .Component12 .Ellipse1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.animate2_animate2 .Clippathgroup .iPhone14ProMax2 .Component12 .Ellipse1 .Vector_3 {
	position: absolute;
	left: 2.5435791015625px;
	top: 2.46669921875px;
	width: 99.79166834115655%;
	height: 99.76526287754187%;
}
.animate2_animate2 .Clippathgroup .iPhone14ProMax2 .Group5 {
	position: absolute;
	left: 552.75px;
	top: 1273px;
	width: 1336.65px;
	height: 572.85px;
}
.animate2_animate2 .Clippathgroup .iPhone14ProMax2 .Group5 .LetsPlanToday {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.animate2_animate2 .Clippathgroup .iPhone14ProMax2 .Group5 .LetsPlanToday .Lets {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 41.35338345864661%;
	height: 51.461988304093566%;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 244.55px;
	font-weight: 400;
	line-height: 295.96107025146483px;
}
.animate2_animate2 .Clippathgroup .iPhone14ProMax2 .Group5 .LetsPlanToday .PlanToday {
	position: absolute;
	left: 0px;
	top: 278.05px;
	width: 100%;
	height: 51.461988304093566%;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 244.55px;
	font-weight: 400;
	line-height: 295.96107025146483px;
}