
.Assignedpage_Assignedpage {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.Assignedpage_Assignedpage .Clippathgroup {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Assignedpage_Assignedpage .Clippathgroup .clipiPhone_14_Pro_Max_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Assignedpage_Assignedpage .Clippathgroup .clipiPhone_14_Pro_Max_4 .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Assignedpage_Assignedpage .Clippathgroup .iPhone14ProMax4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Assignedpage_Assignedpage .Clippathgroup .iPhone14ProMax4 .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Assignedpage_Assignedpage .Rectangle3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 25.9656652360515%;
	background: rgba(108,78,252,1.00);
}
.Assignedpage_Assignedpage .Frame3 {
	position: absolute;
	left: 23.45px;
	top: 1038.5px;
	width: 1383.55px;
	height: 2056.9px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Assignedpage_Assignedpage .Frame3 .task1 {
	position: relative;
	flex: none;
	margin-bottom: 73.7px;
	width: 1383.55px;
	height: 619.75px;
}
.Assignedpage_Assignedpage .Frame3 .task1 .Rectangle17 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1383.55px;
	height: 619.75px;
	background: rgba(236,234,234,1.00);
	border-radius: 67px;
}
.Assignedpage_Assignedpage .Frame3 .task1 .clients {
	position: absolute;
	left: 773.85px;
	top: 408.7px;
	width: 365.15000000000003px;
	height: 154.1px;
}
.Assignedpage_Assignedpage .Frame3 .task1 .clients ._634574 {
	position: absolute;
	left: 226.2345947265625px;
	top: 0px;
	width: 138.91576309204103px;
	height: 154.1px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 58.625px;
}
.Assignedpage_Assignedpage .Frame3 .task1 .clients ._634573 {
	position: absolute;
	left: 146.853662109375px;
	top: 0px;
	width: 138.91576309204103px;
	height: 154.1px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 58.625px;
}
.Assignedpage_Assignedpage .Frame3 .task1 .clients ._634572 {
	position: absolute;
	left: 71.44267578125px;
	top: 0px;
	width: 138.91576309204103px;
	height: 154.1px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 58.625px;
}
.Assignedpage_Assignedpage .Frame3 .task1 .clients ._634571 {
	position: absolute;
	left: 63.72282710644084%;
	bottom: 0px;
	transform: translate(-50%, 0);
	width: 138.91576309204103px;
	height: 154.1px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 368.5px;
}
.Assignedpage_Assignedpage .Frame3 .task1 .Client {
	position: absolute;
	left: 1095.45px;
	top: 244.55px;
	width: 174.20000000000002px;
	height: 73.7px;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 72.29970245361328px;
}
.Assignedpage_Assignedpage .Frame3 .task1 ._634574_1 {
	position: absolute;
	left: 1065.3px;
	top: 33.5px;
	width: 217.75px;
	height: 214.4px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 103.85000000000001px;
}
.Assignedpage_Assignedpage .Frame3 .task1 .CoffeeShopWebsiteFeb10Feb302024 {
	position: absolute;
	left: 3.35px;
	top: 30.150000000000002px;
	width: 710.2px;
	height: 150.75px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Assignedpage_Assignedpage .Frame3 .task1 .Line8 {
	position: absolute;
	left: 23.4483642578125px;
	top: 376.9404296875px;
	width: 1323.2541915893555px;
	height: 0px;
	border: 1px solid rgba(0,0,0,1);
}
.Assignedpage_Assignedpage .Frame3 .task1 .InProgress {
	position: absolute;
	left: 63.65px;
	top: 224.45000000000002px;
	width: 536px;
	height: 56.95px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(5,172,2,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Assignedpage_Assignedpage .Frame3 .task1 .messagelogo {
	position: absolute;
	left: 130.65px;
	top: 436.02998046875px;
	width: 134px;
	height: 120.07001953125px;
}
.Assignedpage_Assignedpage .Frame3 .task1 .messagelogo .iconofblankmessagedialogueboxfreevector1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 134px;
	height: 120.07001953125px;
	object-fit: cover;
	overflow: hidden;
	mix-blend-mode: linear-burn;
}
.Assignedpage_Assignedpage .Frame3 .task1 .messagelogo .Line9 {
	position: absolute;
	left: 27.6358642578125px;
	top: 67.24208984375001px;
	width: 60.24642305374146px;
	height: 0px;
}
.Assignedpage_Assignedpage .Frame3 .task1 .progressbar {
	position: absolute;
	left: 345.05px;
	top: 408.7px;
	width: 164.15px;
	height: 154.1px;
}
.Assignedpage_Assignedpage .Frame3 .task1 .progressbar .Ellipse3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 164.15px;
	height: 154.1px;
}
.Assignedpage_Assignedpage .Frame3 .task1 .progressbar ._70 {
	position: absolute;
	left: 14.5908203125px;
	top: 41.096386718750004px;
	width: 138.6155532836914px;
	height: 51.36666879653931px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 50.25px;
	font-weight: 400;
	line-height: 60.249752044677734px;
}
.Assignedpage_Assignedpage .Frame3 .task4 {
	position: relative;
	flex: none;
	margin-bottom: 73.7px;
	width: 1383.55px;
	height: 619.75px;
}
.Assignedpage_Assignedpage .Frame3 .task4 .Rectangle17_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1383.55px;
	height: 619.75px;
	background: rgba(236,234,234,1.00);
	border-radius: 67px;
}
.Assignedpage_Assignedpage .Frame3 .task4 .clients_1 {
	position: absolute;
	left: 750.4px;
	top: 402px;
	width: 365.15028114318847px;
	height: 160.8px;
}
.Assignedpage_Assignedpage .Frame3 .task4 .clients_1 ._634574_2 {
	position: absolute;
	left: 226.2345947265625px;
	top: 6.7px;
	width: 138.91576309204103px;
	height: 154.1px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 58.625px;
}
.Assignedpage_Assignedpage .Frame3 .task4 .clients_1 ._634573_1 {
	position: absolute;
	left: 146.853662109375px;
	top: 6.7px;
	width: 138.91576309204103px;
	height: 154.1px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 58.625px;
}
.Assignedpage_Assignedpage .Frame3 .task4 .clients_1 ._634572_1 {
	position: absolute;
	left: 71.44267578125px;
	top: 6.7px;
	width: 138.91576309204103px;
	height: 154.1px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 58.625px;
}
.Assignedpage_Assignedpage .Frame3 .task4 .clients_1 ._634571_1 {
	position: absolute;
	left: 63.72277804379535%;
	bottom: 6.7px;
	transform: translate(-50%, 0);
	width: 138.91576309204103px;
	height: 154.1px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 368.5px;
}
.Assignedpage_Assignedpage .Frame3 .task4 .Client_1 {
	position: absolute;
	left: 1095.45px;
	top: 244.55px;
	width: 174.20000000000002px;
	height: 73.7px;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 60.300000000000004px;
	font-weight: 400;
	line-height: 72.29970245361328px;
}
.Assignedpage_Assignedpage .Frame3 .task4 ._634574_3 {
	position: absolute;
	left: 1065.3px;
	top: 33.5px;
	width: 217.75px;
	height: 214.4px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 103.85000000000001px;
}
.Assignedpage_Assignedpage .Frame3 .task4 .OnelogicaAssignmentFeb20Feb232024 {
	position: absolute;
	left: 3.35px;
	top: 30.150000000000002px;
	width: 710.2px;
	height: 150.75px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Assignedpage_Assignedpage .Frame3 .task4 .Line8_1 {
	position: absolute;
	left: 23.4483642578125px;
	top: 376.9404296875px;
	width: 1323.2541915893555px;
	height: 0px;
	border: 1px solid rgba(0,0,0,1);
}
.Assignedpage_Assignedpage .Frame3 .task4 .InProgress_1 {
	position: absolute;
	left: 63.65px;
	top: 224.45000000000002px;
	width: 536px;
	height: 56.95px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(5,172,2,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Assignedpage_Assignedpage .Frame3 .task4 .messagelogo_1 {
	position: absolute;
	left: 130.65px;
	top: 436.02998046875px;
	width: 134px;
	height: 120.07001953125px;
}
.Assignedpage_Assignedpage .Frame3 .task4 .messagelogo_1 .iconofblankmessagedialogueboxfreevector1_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 134px;
	height: 120.07001953125px;
	object-fit: cover;
	overflow: hidden;
	mix-blend-mode: linear-burn;
}
.Assignedpage_Assignedpage .Frame3 .task4 .messagelogo_1 .Line9_1 {
	position: absolute;
	left: 27.6358642578125px;
	top: 67.24208984375001px;
	width: 60.24642305374146px;
	height: 0px;
}
.Assignedpage_Assignedpage .Frame3 .task4 .progressbar_1 {
	position: absolute;
	left: 345.05px;
	top: 408.7px;
	width: 164.15px;
	height: 154.1px;
}
.Assignedpage_Assignedpage .Frame3 .task4 .progressbar_1 .Ellipse3_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 164.15px;
	height: 154.1px;
}
.Assignedpage_Assignedpage .Frame3 .task4 .progressbar_1 ._50 {
	position: absolute;
	left: 14.5908203125px;
	top: 41.096386718750004px;
	width: 138.6155532836914px;
	height: 51.36666879653931px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 50.25px;
	font-weight: 400;
	line-height: 60.249752044677734px;
}
.Assignedpage_Assignedpage .top {
	position: absolute;
	left: 3.35px;
	top: 150.75px;
	width: 1403.65px;
	height: 499.15000000000003px;
}
.Assignedpage_Assignedpage .top .clients_2 {
	position: absolute;
	left: 1095.45px;
	top: 180.9px;
	width: 308.2px;
	height: 194.3px;
}
.Assignedpage_Assignedpage .top .clients_2 .Clients {
	position: absolute;
	left: 43.550000000000004px;
	top: 113.9px;
	width: 221.1px;
	height: 80.4px;
	color: rgba(255,255,255,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 700;
	line-height: 80.3329984664917px;
}
.Assignedpage_Assignedpage .top .clients_2 .clients_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 308.2px;
	height: 117.25px;
}
.Assignedpage_Assignedpage .top .clients_2 .clients_3 ._634574_4 {
	position: absolute;
	left: 190.95000000000002px;
	top: 0px;
	width: 117.25px;
	height: 117.25px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 58.625px;
}
.Assignedpage_Assignedpage .top .clients_2 .clients_3 ._634573_2 {
	position: absolute;
	left: 123.95px;
	top: 0px;
	width: 117.25px;
	height: 117.25px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 58.625px;
}
.Assignedpage_Assignedpage .top .clients_2 .clients_3 ._634572_2 {
	position: absolute;
	left: 60.300000000000004px;
	top: 0px;
	width: 117.25px;
	height: 117.25px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 58.625px;
}
.Assignedpage_Assignedpage .top .clients_2 .clients_3 ._634571_2 {
	position: absolute;
	left: 63.72282608695653%;
	bottom: 0px;
	transform: translate(-50%, 0);
	width: 117.25px;
	height: 117.25px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 368.5px;
}
.Assignedpage_Assignedpage .top .UpcomingDeadline {
	position: absolute;
	left: 90.45px;
	top: 164.15px;
	width: 592.95px;
	height: 90.45px;
	color: rgba(255,255,255,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 700;
	line-height: 80.3329984664917px;
}
.Assignedpage_Assignedpage .top .onelogica {
	position: absolute;
	left: 0px;
	top: 274.7px;
	width: 737px;
	height: 224.45000000000002px;
	border-radius: 67px;
}
.Assignedpage_Assignedpage .top .onelogica .OnelogicaAssignment235923Feb2024 {
	position: absolute;
	left: 0px;
	top: 23.45px;
	width: 737px;
	height: 184.25px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Assignedpage_Assignedpage .top .onelogica .Rectangle8 {
	position: absolute;
	left: 16.75px;
	top: 0px;
	width: 716.9px;
	height: 224.45000000000002px;
	background: rgba(158,33,33,1.00);
	mix-blend-mode: linear-dodge;
	border-radius: 67px;
}
.Assignedpage_Assignedpage .top .dashboard {
	position: absolute;
	left: 16.75px;
	top: 0px;
	width: 703.5798957824708px;
	height: 90.4892578125px;
}
.Assignedpage_Assignedpage .top .dashboard .Dashboard {
	position: absolute;
	right: -0.0000011980533599853516px;
	top: 0px;
	width: 609.7806297937292px;
	height: 87.66615292179631px;
	color: rgba(255,255,255,1.00);
	font-family: Inria Sans;
	font-size: 107.2px;
	font-weight: 700;
	line-height: 128.5328001022339px;
}
.Assignedpage_Assignedpage .top .dashboard .Group11 {
	position: absolute;
	left: 0px;
	top: 43.550000000000004px;
	width: 77.05px;
	height: 46.9392578125px;
}
.Assignedpage_Assignedpage .top .dashboard .Group11 .Line5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 77.05px;
	height: 0px;
}
.Assignedpage_Assignedpage .top .dashboard .Group11 .Line6 {
	position: absolute;
	left: 0px;
	top: 46.9392578125px;
	width: 77.05px;
	height: 0px;
}
.Assignedpage_Assignedpage .top .dashboard .Group11 .Line7 {
	position: absolute;
	left: 0px;
	top: 23.49580078125px;
	width: 57.915777969360356px;
	height: 0px;
}
.Assignedpage_Assignedpage .navigation {
	position: absolute;
	left: -338.35px;
	top: 860.95px;
	width: 1745.3500000000001px;
	height: 110.55px;
}
.Assignedpage_Assignedpage .navigation .project {
	position: absolute;
	left: 1524.25px;
	top: 0px;
	width: 338.35px;
	height: 130.65px;
	border-radius: 167.5px;
}
.Assignedpage_Assignedpage .navigation .project .Projects {
	position: absolute;
	left: 46.9px;
	top: 3.35px;
	width: 291.45px;
	height: 127.3px;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Assignedpage_Assignedpage .navigation .project .Rectangle4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 328.3px;
	height: 107.2px;
	background: rgba(217,217,217,1.00);
	mix-blend-mode: multiply;
	border-radius: 167.5px;
}
.Assignedpage_Assignedpage .navigation .assigned {
	position: absolute;
	left: 371.85px;
	top: 0px;
	width: 348.40000000000003px;
	height: 110.55px;
	border-radius: 167.5px;
}
.Assignedpage_Assignedpage .navigation .assigned .Assigned {
	position: absolute;
	left: 26.8px;
	top: 3.35px;
	width: 321.6px;
	height: 107.2px;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Assignedpage_Assignedpage .navigation .assigned .Rectangle5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 328.3px;
	height: 107.2px;
	background: rgba(14,249,9,1.00);
	mix-blend-mode: multiply;
	border-radius: 167.5px;
}
.Assignedpage_Assignedpage .navigation .completed {
	position: absolute;
	left: 753.75px;
	top: 0px;
	width: 418.75px;
	height: 110.55px;
	border-radius: 167.5px;
}
.Assignedpage_Assignedpage .navigation .completed .Completed {
	position: absolute;
	left: 23.45px;
	top: 3.35px;
	width: 395.3px;
	height: 107.2px;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Assignedpage_Assignedpage .navigation .completed .Rectangle6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 361.8px;
	height: 107.2px;
	background: rgba(217,217,217,1.00);
	mix-blend-mode: multiply;
	border-radius: 167.5px;
}
.Assignedpage_Assignedpage .navigation .pending0 {
	position: absolute;
	left: 1172.5px;
	top: 0px;
	width: 341.7px;
	height: 107.2px;
	border-radius: 167.5px;
}
.Assignedpage_Assignedpage .navigation .pending0 .Pending {
	position: absolute;
	left: 33.5px;
	top: 3.35px;
	width: 308.2px;
	height: 80.4px;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Assignedpage_Assignedpage .navigation .pending0 .Rectangle7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 304.85px;
	height: 107.2px;
	background: rgba(217,217,217,1.00);
	mix-blend-mode: multiply;
	border-radius: 167.5px;
}
.Assignedpage_Assignedpage .AddTask {
	position: absolute;
	left: 1051.9px;
	top: 2596.25px;
	width: 355.1px;
	height: 475.7px;
}
.Assignedpage_Assignedpage .AddTask .Ellipse2 {
	position: absolute;
	left: 0px;
	top: 170.85px;
	width: 86.79245283018868%;
	height: 64.08450704225352%;
	background: rgba(108,78,252,1.00);
	border-radius: 50%;
}
.Assignedpage_Assignedpage .AddTask ._ {
	position: absolute;
	left: 90.45px;
	top: 0px;
	width: 74.52830188679245%;
	height: 33.098591549295776%;
	color: rgba(255,255,255,1.00);
	font-family: Inknut Antiqua;
	font-size: 234.5px;
	font-weight: 700;
	line-height: 604.7754959106445px;
}