
.Openproject_Openproject {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.Openproject_Openproject .Clippathgroup {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Openproject_Openproject .Clippathgroup .clipiPhone_14_Pro_Max_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Openproject_Openproject .Clippathgroup .clipiPhone_14_Pro_Max_4 .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Openproject_Openproject .Clippathgroup .iPhone14ProMax4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Openproject_Openproject .Clippathgroup .iPhone14ProMax4 .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Openproject_Openproject .Rectangle3 {
	position: absolute;
	left: 0px;
	top: -80.4px;
	width: 100%;
	height: 15.343347639484978%;
	background: rgba(108,78,252,1.00);
}
.Openproject_Openproject .Rectangle18 {
	position: absolute;
	left: 0px;
	top: 968.15px;
	width: 1474px;
	height: 2298.1px;
	background: rgba(184,169,255,1.00);
}
.Openproject_Openproject .Group12 {
	position: absolute;
	left: 20.1px;
	top: 150.75px;
	width: 703.5798957824708px;
	height: 90.4892578125px;
}
.Openproject_Openproject .Group12 .Dashboard {
	position: absolute;
	right: -0.0000011980533599853516px;
	top: 0px;
	width: 609.7806297937292px;
	height: 87.66615292179631px;
	color: rgba(255,255,255,1.00);
	font-family: Inria Sans;
	font-size: 107.2px;
	font-weight: 700;
	line-height: 128.5328001022339px;
}
.Openproject_Openproject .Group12 .Group11 {
	position: absolute;
	left: 0px;
	top: 43.550000000000004px;
	width: 77.05px;
	height: 46.9392578125px;
}
.Openproject_Openproject .Group12 .Group11 .Line5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 77.05px;
	height: 0px;
}
.Openproject_Openproject .Group12 .Group11 .Line6 {
	position: absolute;
	left: 0px;
	top: 46.9392578125px;
	width: 77.05px;
	height: 0px;
}
.Openproject_Openproject .Group12 .Group11 .Line7 {
	position: absolute;
	left: 0px;
	top: 23.49580078125px;
	width: 57.915777969360356px;
	height: 0px;
}
.Openproject_Openproject .AssignedTasks {
	position: absolute;
	left: 824.1px;
	top: 1909.5px;
	width: 452.25px;
	height: 80.4px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Openproject_Openproject .Rectangle9 {
	position: absolute;
	left: 804px;
	top: 1410.3500000000001px;
	width: 592.95px;
	height: 90.45px;
	background: rgba(255,255,255,1.00);
	border-radius: 33.5px;
}
.Openproject_Openproject .Feb20Feb23 {
	position: absolute;
	left: 750.4px;
	top: 1420.4px;
	width: 465.65000000000003px;
	height: 77.05px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(57,51,53,1.00);
	font-family: Inria Sans;
	font-size: 50.25px;
	font-weight: 400;
	line-height: 60.249752044677734px;
}
.Openproject_Openproject .calendariconfreevector1 {
	position: absolute;
	left: 1306.5px;
	top: 1417.05px;
	width: 70.35000000000001px;
	height: 67px;
	object-fit: cover;
	overflow: hidden;
}
.Openproject_Openproject ._634571 {
	position: absolute;
	left: 167.88953488372096%;
	bottom: 2023.4px;
	transform: translate(-50%, 0);
	width: 257.95px;
	height: 257.95px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 368.5px;
}
.Openproject_Openproject .Group7 {
	position: absolute;
	left: 773.85px;
	top: 968.15px;
	width: 97.15px;
	height: 140.70000000000002px;
}
.Openproject_Openproject .Group7 .Ellipse2 {
	position: absolute;
	left: 0px;
	top: 51.061328125px;
	width: 95.7708424535291%;
	height: 61.04527428036645%;
	background: rgba(108,78,252,1.00);
	border-radius: 50%;
}
.Openproject_Openproject .Group7 ._ {
	position: absolute;
	left: 30.150000000000002px;
	top: 0px;
	width: 68.96551724137932%;
	height: 100%;
	color: rgba(255,255,255,1.00);
	font-family: Inknut Antiqua;
	font-size: 67px;
	font-weight: 700;
	line-height: 172.79300613403322px;
}
.Openproject_Openproject .Invite {
	position: absolute;
	left: 171.39534883720933%;
	top: 122.39002145922748%;
	transform: translate(-50%, -50%);
	width: 207.70000000000002px;
	height: 90.45px;
	color: rgba(255,255,255,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Openproject_Openproject .Frame1 {
	position: absolute;
	left: 43.550000000000004px;
	top: 1708.5px;
	width: 1353.4px;
	height: 87.10000000000001px;
	display: flex;
	box-sizing: border-box;
}
.Openproject_Openproject .Frame1 .design {
	position: relative;
	flex: none;
	margin-right: 16.75px;
	width: 234.5px;
	height: 87.10000000000001px;
	border-radius: 167.5px;
}
.Openproject_Openproject .Frame1 .design .Rectangle10 {
	position: absolute;
	left: 0px;
	top: 3.35px;
	width: 234.5px;
	height: 83.75px;
	background: rgba(14,249,9,1.00);
	border-radius: 167.5px;
}
.Openproject_Openproject .Frame1 .design .Design {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 234.5px;
	height: 87.10000000000001px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(71,67,67,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Openproject_Openproject .Frame1 .frontend {
	position: relative;
	flex: none;
	margin-right: 16.75px;
	width: 304.85px;
	height: 87.10000000000001px;
	border-radius: 167.5px;
}
.Openproject_Openproject .Frame1 .frontend .Rectangle14 {
	position: absolute;
	left: 0px;
	top: 3.35px;
	width: 304.85px;
	height: 83.75px;
	background: rgba(14,249,9,1.00);
	border-radius: 167.5px;
}
.Openproject_Openproject .Frame1 .frontend .Frontend {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 304.85px;
	height: 87.10000000000001px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(71,67,67,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Openproject_Openproject .ProjectName {
	position: absolute;
	left: 30.150000000000002px;
	top: 1313.2px;
	width: 452.25px;
	height: 97.15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Openproject_Openproject .TypeofProject {
	position: absolute;
	left: 43.550000000000004px;
	top: 1604.65px;
	width: 452.25px;
	height: 97.15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Openproject_Openproject .projectname {
	position: absolute;
	left: -36.85px;
	top: 1410.3500000000001px;
	width: 757.1px;
	height: 107.2px;
	border-radius: 33.5px;
}
.Openproject_Openproject .projectname .Rectangle9_1 {
	position: absolute;
	left: 80.4px;
	top: 0px;
	width: 676.7px;
	height: 90.45px;
	background: rgba(255,255,255,1.00);
	border-radius: 33.5px;
}
.Openproject_Openproject .projectname .OnelogicaAssignment {
	position: absolute;
	left: 0px;
	top: 10.05px;
	width: 693.45px;
	height: 97.15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(57,51,53,1.00);
	font-family: Inria Sans;
	font-size: 50.25px;
	font-weight: 400;
	line-height: 60.249752044677734px;
}
.Openproject_Openproject .Clientname {
	position: absolute;
	left: -164.15px;
	top: 2013.3500000000001px;
	width: 884.4px;
	height: 107.2px;
	border-radius: 33.5px;
}
.Openproject_Openproject .Clientname .Rectangle9_2 {
	position: absolute;
	left: 207.70000000000002px;
	top: 0px;
	width: 676.7px;
	height: 90.45px;
	background: rgba(255,255,255,1.00);
	border-radius: 33.5px;
}
.Openproject_Openproject .Clientname .Onelogica {
	position: absolute;
	left: 0px;
	top: 10.05px;
	width: 693.45px;
	height: 97.15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(57,51,53,1.00);
	font-family: Inria Sans;
	font-size: 50.25px;
	font-weight: 400;
	line-height: 60.249752044677734px;
}
.Openproject_Openproject .Deadline {
	position: absolute;
	left: 720.25px;
	top: 1313.2px;
	width: 452.25px;
	height: 97.15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Openproject_Openproject .Chat {
	position: absolute;
	left: 425.45px;
	top: 2827.4px;
	width: 592.95px;
	height: 184.25px;
}
.Openproject_Openproject .Chat .Rectangle15 {
	position: absolute;
	left: 167.5%;
	top: 0px;
	transform: translate(-50%, 0);
	width: 592.95px;
	height: 184.25px;
	background: rgba(236,234,234,1.00);
	border-radius: 83.75px;
}
.Openproject_Openproject .Chat .messagelogo {
	position: absolute;
	left: 100.5px;
	top: 37.37998046875px;
	width: 134px;
	height: 120.07001953125px;
}
.Openproject_Openproject .Chat .messagelogo .iconofblankmessagedialogueboxfreevector1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 134px;
	height: 120.07001953125px;
	object-fit: cover;
	overflow: hidden;
	mix-blend-mode: linear-burn;
}
.Openproject_Openproject .Chat .messagelogo .Line9 {
	position: absolute;
	left: 27.6358642578125px;
	top: 70.59208984375px;
	width: 60.24642305374146px;
	height: 0px;
}
.Openproject_Openproject .Chat .Chat_1 {
	position: absolute;
	left: 225.22598870056498%;
	top: 13.4px;
	transform: translate(-50%, 0);
	width: 268px;
	height: 120.60000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 113.9px;
	font-weight: 700;
	line-height: 136.56609611511232px;
}
.Openproject_Openproject .navigation {
	position: absolute;
	left: 43.550000000000004px;
	top: 438.85px;
	width: 1353.4px;
	height: 107.2px;
}
.Openproject_Openproject .navigation .project {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 338.35px;
	height: 130.65px;
	border-radius: 167.5px;
}
.Openproject_Openproject .navigation .project .Projects {
	position: absolute;
	left: 46.9px;
	top: 3.35px;
	width: 291.45px;
	height: 127.3px;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Openproject_Openproject .navigation .project .Rectangle4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 328.3px;
	height: 107.2px;
	background: rgba(217,217,217,1.00);
	mix-blend-mode: multiply;
	border-radius: 167.5px;
}
.Openproject_Openproject .navigation .assigned {
	position: absolute;
	left: 371.85px;
	top: 0px;
	width: 348.40000000000003px;
	height: 110.55px;
	border-radius: 167.5px;
}
.Openproject_Openproject .navigation .assigned .Assigned {
	position: absolute;
	left: 26.8px;
	top: 3.35px;
	width: 321.6px;
	height: 107.2px;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Openproject_Openproject .navigation .assigned .Rectangle5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 328.3px;
	height: 107.2px;
	background: rgba(217,217,217,1.00);
	mix-blend-mode: multiply;
	border-radius: 167.5px;
}
.Openproject_Openproject .navigation .completed {
	position: absolute;
	left: 753.75px;
	top: 0px;
	width: 418.75px;
	height: 110.55px;
	border-radius: 167.5px;
}
.Openproject_Openproject .navigation .completed .Completed {
	position: absolute;
	left: 23.45px;
	top: 3.35px;
	width: 395.3px;
	height: 107.2px;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Openproject_Openproject .navigation .completed .Rectangle6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 361.8px;
	height: 107.2px;
	background: rgba(217,217,217,1.00);
	mix-blend-mode: multiply;
	border-radius: 167.5px;
}
.Openproject_Openproject .navigation .pending0 {
	position: absolute;
	left: 1172.5px;
	top: 0px;
	width: 341.7px;
	height: 107.2px;
	border-radius: 167.5px;
}
.Openproject_Openproject .navigation .pending0 .Pending {
	position: absolute;
	left: 33.5px;
	top: 3.35px;
	width: 308.2px;
	height: 80.4px;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Openproject_Openproject .navigation .pending0 .Rectangle7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 304.85px;
	height: 107.2px;
	background: rgba(217,217,217,1.00);
	mix-blend-mode: multiply;
	border-radius: 167.5px;
}
.Openproject_Openproject .Description {
	position: absolute;
	left: 13.4px;
	top: 2187.55px;
	width: 452.25px;
	height: 97.15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Openproject_Openproject .ClientName {
	position: absolute;
	left: 16.75px;
	top: 1909.5px;
	width: 452.25px;
	height: 97.15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inria Sans;
	font-size: 67px;
	font-weight: 400;
	line-height: 80.3329984664917px;
}
.Openproject_Openproject .Rectangle16 {
	position: absolute;
	left: 43.550000000000004px;
	top: 2288.05px;
	width: 1340px;
	height: 432.15000000000003px;
	background: rgba(255,255,255,1.00);
	border-radius: 33.5px;
}
.Openproject_Openproject .DesignUIofalightweightprojectmanagementtoolforsmallprojectsEnabletaskcreationassignmentandtrackingToolsReactFigmaInvisionAdobeXDWebflowasperchoice {
	position: absolute;
	left: 56.95px;
	top: 2308.15px;
	width: 1293.1000000000001px;
	height: 395.3px;
	color: rgba(57,51,53,1.00);
	font-family: Inria Sans;
	font-size: 50.25px;
	font-weight: 400;
	line-height: 60.249752044677734px;
}
.Openproject_Openproject .Group10 {
	position: absolute;
	left: 981.5500000000001px;
	top: 1999.95px;
	width: 117.25px;
	height: 117.25px;
	border-radius: 58.625px;
}
.Openproject_Openproject .Group10 ._634572 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 117.25px;
	height: 117.25px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 58.625px;
}