
.Registerpage_Registerpage {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
}
.Registerpage_Registerpage .Clippathgroup {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Registerpage_Registerpage .Clippathgroup .clipiPhone_14_Pro_Max_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Registerpage_Registerpage .Clippathgroup .clipiPhone_14_Pro_Max_3 .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Registerpage_Registerpage .Clippathgroup .iPhone14ProMax3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 104.4186046511628%;
	height: 100%;
}
.Registerpage_Registerpage .Clippathgroup .iPhone14ProMax3 .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 95.7683741648107%;
	height: 100%;
}
.Registerpage_Registerpage .Clippathgroup .iPhone14ProMax3 .Group1 {
	position: absolute;
	left: 144.05px;
	top: 2418.7000000000003px;
	width: 76.61469933184856%;
	height: 7.939914163090128%;
}
.Registerpage_Registerpage .Clippathgroup .iPhone14ProMax3 .Group1 .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	mix-blend-mode: darken;
}
.Registerpage_Registerpage .Clippathgroup .iPhone14ProMax3 .Group1 .SignUp {
	position: absolute;
	left: 401.5109130859375px;
	top: 50.25px;
	width: 32.55813953488372%;
	height: 55.4054054054054%;
	color: rgba(255,255,255,1.00);
	font-family: Inria Sans;
	font-size: 113.9px;
	font-weight: 400;
	line-height: 136.56609611511232px;
}
.Registerpage_Registerpage .Clippathgroup .iPhone14ProMax3 .Group2 {
	position: absolute;
	left: 144.05px;
	top: 2753.7000000000003px;
	width: 76.61469933184856%;
	height: 7.939914163090128%;
}
.Registerpage_Registerpage .Clippathgroup .iPhone14ProMax3 .Group2 .Rectangle2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	mix-blend-mode: darken;
}
.Registerpage_Registerpage .Clippathgroup .iPhone14ProMax3 .Group2 .Login {
	position: absolute;
	left: 437.3827392578125px;
	top: 43.550000000000004px;
	width: 23.837209302325583%;
	height: 55.4054054054054%;
	color: rgba(255,255,255,1.00);
	font-family: Inria Sans;
	font-size: 113.9px;
	font-weight: 400;
	line-height: 136.56609611511232px;
}
.Registerpage_Registerpage .Clippathgroup .iPhone14ProMax3 ._6171704 {
	position: absolute;
	left: 36.85px;
	top: 646.5500000000001px;
	width: 90.64587973273942%;
	height: 43.66952789699571%;
	object-fit: cover;
	overflow: hidden;
}
.Registerpage_Registerpage .Clippathgroup .iPhone14ProMax3 .OntheGoSuccessUnleashTeamworkAnywhere {
	position: absolute;
	left: 171.60356347438753%;
	top: 2003.3px;
	transform: translate(-50%, 0);
	width: 1467.3px;
	height: 7.081545064377683%;
}
.Registerpage_Registerpage .Clippathgroup .iPhone14ProMax3 .OntheGoSuccessUnleashTeamworkAnywhere .OntheGoSuccessUnleash {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 52.1739150538589%;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 100.5px;
	font-weight: 400;
	line-height: 121.62783393859864px;
}
.Registerpage_Registerpage .Clippathgroup .iPhone14ProMax3 .OntheGoSuccessUnleashTeamworkAnywhere .TeamworkAnywhere {
	position: absolute;
	left: 146.7407958984375px;
	top: 105.74091796875px;
	width: 73.6714959688927%;
	height: 52.1739150538589%;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 100.5px;
	font-weight: 400;
	line-height: 121.62783393859864px;
}
.Registerpage_Registerpage .Clippathgroup .iPhone14ProMax3 .Group3 {
	position: absolute;
	left: 163.53068396349528%;
	top: 244.55px;
	transform: translate(-50%, 0);
	width: 852.1055419921876px;
	height: 7.081545064377683%;
}
.Registerpage_Registerpage .Clippathgroup .iPhone14ProMax3 .Group3 .Screenshot20240220211109 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 22.409195878900963%;
	height: 100%;
}
.Registerpage_Registerpage .Clippathgroup .iPhone14ProMax3 .Group3 .TaskAssemble {
	position: absolute;
	left: 195.50554199218752px;
	top: 43.550000000000004px;
	width: 77.05618232043139%;
	height: 54.54545454545454%;
	color: rgba(0,0,0,1.00);
	font-family: Inria Serif;
	font-size: 100.5px;
	font-weight: 400;
	line-height: 120.49950408935547px;
}
.Registerpage_Registerpage .Screenshot202402202111091 {
	position: absolute;
	left: 335px;
	top: 234.5px;
	width: 12.790697674418606%;
	height: 6.437768240343347%;
	object-fit: cover;
	overflow: hidden;
	mix-blend-mode: multiply;
}