
.Startingpage_Startingpage {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
}
.Startingpage_Startingpage .Clippathgroup {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Startingpage_Startingpage .Clippathgroup .clipiPhone_14_Pro_Max_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Startingpage_Startingpage .Clippathgroup .clipiPhone_14_Pro_Max_1 .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Startingpage_Startingpage .Clippathgroup .iPhone14ProMax1 {
	position: absolute;
	left: -83.75px;
	top: -391.95px;
	width: 111.62790697674419%;
	height: 125.21459227467811%;
}
.Startingpage_Startingpage .Clippathgroup .iPhone14ProMax1 .Vector_1 {
	position: absolute;
	left: 83.75px;
	top: 391.95px;
	width: 89.58333333333334%;
	height: 79.86289631533847%;
}
.Startingpage_Startingpage .Clippathgroup .iPhone14ProMax1 .TaskAssemble {
	position: absolute;
	left: 147.4px;
	top: 1755.4px;
	width: 81.66666666666667%;
	height: 6.169665809768637%;
	color: rgba(71,67,67,1.00);
	font-family: Inria Serif;
	font-size: 201px;
	font-weight: 400;
	line-height: 240.99900817871094px;
}
.Startingpage_Startingpage .Clippathgroup .iPhone14ProMax1 .Component12 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 36.50385604113111%;
}
.Startingpage_Startingpage .Clippathgroup .iPhone14ProMax1 .Component12 .Ellipse1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	mix-blend-mode: multiply;
}
.Startingpage_Startingpage .Clippathgroup .iPhone14ProMax1 .Component12 .Ellipse1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Startingpage_Startingpage .Clippathgroup .iPhone14ProMax1 .Component12 .Ellipse1 .Vector_3 {
	position: absolute;
	left: 1.675px;
	top: 1.675px;
	width: 99.79166666666667%;
	height: 99.76525821596243%;
}
.Startingpage_Startingpage .Clippathgroup .iPhone14ProMax1 .Component11 {
	position: absolute;
	left: 0px;
	top: 2482.35px;
	width: 100%;
	height: 36.50385604113111%;
}
.Startingpage_Startingpage .Clippathgroup .iPhone14ProMax1 .Component11 .Ellipse1_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	mix-blend-mode: multiply;
}
.Startingpage_Startingpage .Clippathgroup .iPhone14ProMax1 .Component11 .Ellipse1_1 .Vector_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Startingpage_Startingpage .Clippathgroup .iPhone14ProMax1 .Component11 .Ellipse1_1 .Vector_5 {
	position: absolute;
	left: 1.675px;
	top: 1.675px;
	width: 99.79166666666667%;
	height: 99.76525821596243%;
}